@use './styles/variables' as *;
@use './styles/mixins' as *;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: $color-gray-50;

  .layout {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;

    .sidebar {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
      min-width: 28rem
    }

    .content {
      padding: $space-8;
      overflow: hidden;
    }
  }
}
